<div class="container" style="min-height: auto!important;">
  <div class="jumbotron">
    <h1 class="display-4">Hello to SharePosts app</h1>
    <hr class="my-4">
    <p>Create or connect an account handle your posts</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Go to feed</a>
    </p>
  </div>
</div>