<%- include('partials/_header'); -%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SharePosts</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <% if (isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link" href="/my-posts">My Posts</a>
            </li>
          <% } %>
        </ul>
        <div class="d-flex">
            <% if (isAuthenticated) { %>
            <span class="navbar-text" style="margin-right: 10px;">
                Hello, <%= user %>
            </span>
            <a href="/logout" class="btn btn-danger">Log out!</a> 
            <% } else { %>
                <a class="btn btn-primary" style="margin: 2px 5px;" href="/login">Log in</a>
                <a class="btn btn-secondary" style="margin: 2px 5px;" href="/register">Register</a>
             <% } %>
        </div>
      </div>
    </div>
  </nav>
  <% if (isAuthenticated) { %>
    <div class="container" style="min-height: auto!important;">
        <form id="AddNewPostForm">
            <div class="mandatory alert alert-danger" id="mandatory_post_general_errors" role="alert"></div>
            <input type="text" placeholder="Enter post title" name="title" id="post_title" required>
            <div class="mandatory alert alert-danger" id="mandatory_post_title" role="alert"></div>
            <textarea class="form-control mb-2" rows="3" placeholder="What are you doing today?" name="content" id="post_content" required></textarea>
            <div class="mandatory alert alert-danger" id="mandatory_post_content" role="alert"></div>
            <button type="submit" class="registerbtn">Publish</button>
        </form>
    </div>
<% } %>
<div class="container">
    <h1>Check the feed!</h1>
    <hr class="mb-3">
    <div class="row refreshOnMessage" id="postsList"></div>
    <div class="loader"></div> 
</div>
<script src="feed.js"></script>
<%- include('partials/_footer'); -%>